.about-us-page {
  position: relative;
  max-width: 30%;
  margin: auto;
  height: 75vh;
  background-color: rgba(255, 255, 240, .8);
  border-width: 5px;
  border-style: solid;
  border-image: url('https://grandhcypher-crew.s3.us-west-1.amazonaws.com/images/user/frame.png') 5% stretch;
}

.about-me-title{
  font-size: 1.3em;
  text-align: center;
  margin-top: 8%;
}

.body-text {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.aboutus {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  border-radius: 3em;
}


.k-card {
  align-content: center;
  border: 3px solid goldenrod;
  border-radius: 5%;
  padding: 1%;
}


.team-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 7%;
}

.team-body {
  height: max-content;
  text-align: center;
}

.bottom404message {
  text-align: center;
}

.about-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gitHubImage {
  padding: 5%;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  height: 7vh;
  position: relative;
}

.readme-link {
  background-color: rgba(255, 255, 240, .8);
  width: fit-content;
  height: fit-content;
  border-width: 2px;
  border-style: solid;
  border-image: url('https://grandhcypher-crew.s3.us-west-1.amazonaws.com/images/user/frame.png') 5% stretch;
  text-decoration: none;
  font-size: 80%;
  text-shadow: 0px 0px 1px black;
}
