.profile-page{
    margin-top: 22px;
    height: 91.5vh;
    width: 800px;
    margin-left: 120px;
    margin-top: 55px;
}

.profile-session{
    display: flex;
    margin-left: 30px;
    font-size: 30px;
    color: black;
    align-items: center;
}

.session-name{
    margin-left: 20px;
    text-shadow: 0px 0px 1px black;
    background: -webkit-linear-gradient(goldenrod, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profile-img{
    object-fit: cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid black
}
.profile-party-name:hover{
cursor: pointer;
}
.party-characters {
    height: 200px;
    width:200px
}
