body {
  font-size: 20px;
  background-color: blanchedalmond;
  margin-left: 25em;
  margin-right: 25em;
  overflow: hidden;
  background-image: url('https://grandhcypher-crew.s3.us-west-1.amazonaws.com/images/background.jpg');

}

body *:not(input, select) {
  font-family: "Gideon Roman";
}

* {
  box-sizing: border-box;
}

button {
  background-color: rgba(255, 255, 240, .8);
  width: fit-content;
  height: fit-content;
  border-width: 4px;
  border-style: solid;
  border-image: url('https://grandhcypher-crew.s3.us-west-1.amazonaws.com/images/user/frame.png') 5% stretch;
  text-decoration: none;
  font-size: 20px;
  text-shadow: 0px 0px 1px black;
}

a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  cursor: pointer;
  color: goldenrod;
}

button:hover {
  cursor: pointer;
  color: rgb(80, 139, 177);
  text-shadow: 0px 0px .8px black;
}

::-webkit-scrollbar {
  border-radius: 30em;
  width: 15px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
border: 1px solid gray;
border-radius: 30em;
background: rgba(85, 85, 85, .8);
cursor: grab;
}

::-webkit-scrollbar-thumb:hover {
 background: rgba(218, 165, 32, 0.534);
}
