body {
  font-family: "Gideon Roman";
  font-size: 20px;
  background-color: blanchedalmond;
  margin-left: 25em;
  margin-right: 25em;
  overflow: hidden;
  background-image: url('https://grandhcypher-crew.s3.us-west-1.amazonaws.com/images/background.jpg');
}

body * {
  font-family: "Gideon Roman";

}

* {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: transparent;
  text-decoration: none;
  text-shadow: 0px 0px 0px black;
  background: -webkit-linear-gradient(goldenrod, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
}

a {
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  cursor: pointer;
  color: goldenrod;
}

button:hover {
  cursor: pointer;
  color: goldenrod;
}

::-webkit-scrollbar {
  border-radius: 30em;
  width: 15px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
border: 1px solid gray;
border-radius: 30em;
background: rgba(85, 85, 85, .8);
cursor: grab;
}

::-webkit-scrollbar-thumb:hover {
 background: rgba(218, 165, 32, 0.534);
}
