@media screen and (max-width: 1280px) and (min-width:901px) {
  .party-scroll {
    background-size: 100% 100%;
  }
  .nav-containception {
    width: fit-content;
  }
  .nav-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
  }
  .logo {
    display: none;
  }
  .something {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .about-us {
    width: 30%;
    left: -5%;
  }
  .about-us-page {
    max-width: 60%;
  }
  .team-cards{
    padding-top: 3%;
  }
  .footer {
    padding-top: 8%;
  }
  .about-me-title{
    margin-top: 2%;
  }
  .pnf-container{
    top: -24%;
  }
  .not-found-page{
    height: 65vh;
  }
}

@media screen and (max-width: 1000px) {
  .splashContainer {
    margin-top: 85%;
  }
  .about-us{
    text-align: center;
  }
  .about-us-page{
    max-height: 50%;
  }
  .about-me-title{
    margin-top: 12%;
  }
  .pnf-container{
    top: -10%;
  }
  .not-found-page{
    height: 45vh;
  }
}

.errors{
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-left: -10%;
  margin-top: -60%;
  font-size: 18px;
  z-index: 1;
  backdrop-filter: blur(6px);
}

.error-papyrus{
  position: absolute;
  margin-top: -75%;
  margin-left: -40%;
  width: 160%;
  height: 140%;
}

html {
  height: 100%;
  background: url('https://grandhcypher-crew.s3.us-west-1.amazonaws.com/images/background.jpg') no-repeat;
  background-size: 105vw 105vh;
}

body {
  /* min-height: 100vh; */
  font-size: 20px;
  margin-left: 20%;
  margin-right: 20%;
  overflow: hidden;
  z-index: -5;

}

body *:not(input, select) {
  font-family: "Gideon Roman";
}

* {
  box-sizing: border-box;
}

button {
  background-color: rgba(255, 255, 240, .8);
  width: fit-content;
  height: fit-content;
  border-width: 4px;
  border-style: solid;
  border-image: url('https://grandhcypher-crew.s3.us-west-1.amazonaws.com/images/user/frame.png') 5% stretch;
  text-decoration: none;
  font-size: 20px;
  text-shadow: 0px 0px 1px black;
}

a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  cursor: pointer;
  color: goldenrod;
}

button:hover {
  cursor: pointer;
  color: rgb(80, 139, 177);
  text-shadow: 0px 0px .8px black;
}

::-webkit-scrollbar {
  border-radius: 30em;
  width: 15px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
border: 1px solid gray;
border-radius: 30em;
background: rgba(85, 85, 85, .8);
cursor: grab;
}

::-webkit-scrollbar-thumb:hover {
 background: rgba(218, 165, 32, 0.534);
}
