.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }

.modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .sign-up-form{
     display: flex;
     flex-direction: column;
     position: absolute;
     top: 205px;
     left: 240px;
     font-size: 18px;
  }

  .sign-up-form > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .sign-up-form input {
    background: rgba(0, 0, 0, .1);
    border: none;
    border-bottom: 1px solid rgba(85, 34, 34, 0.555);
    padding: 0 .4em;
    outline: none;
  }

  .login-form{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 210px;
    left: 240px;
  }

  .login-form > div:not(.errors) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 25px;
  }

  .errors{
    margin-bottom: 20px;
  }

  .login-form input {
    background: rgba(0, 0, 0, .1);
    border: none;
    border-bottom: 1px solid rgba(85, 34, 34, 0.555);
    padding: 0 .4em;
    outline: none;
  }

#modal-body {
    position: absolute;
  }
