.nav-containception{
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-container{
    display: flex;
    justify-content: space-around;
    background-color: ivory;
    border-width: 5px;
    border-style: solid;
    border-image: url('https://grandhcypher-crew.s3.us-west-1.amazonaws.com/images/user/frame.png') 5% round;
    align-items: center;
    height: 6vh;
    min-height: fit-content;
    width: 48vw;
}

.about-us{
    padding: 3px;
    background-color: ivory;
    width: fit-content;
    height: fit-content;
    border-width: 4px;
    border-style: solid;
    border-image: url('https://grandhcypher-crew.s3.us-west-1.amazonaws.com/images/user/frame.png') 5% stretch;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 0px 0px 1px black;
    position: absolute;
    bottom: 0;
    margin-bottom: 12px;
    right:0;
    margin-right: 40%;
    margin-left: 40%;
}

.about-us:hover{
    cursor: pointer;
}

.welcome-text{
    text-shadow: 0px 0px 1px black;
    background: -webkit-linear-gradient(goldenrod, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cloud-one{
    position: absolute;
    left: 5;
    top: 70%;
    animation: moveFirst 270s linear infinite;
    width: 20%;
    z-index: -1;
}

.cloud-two {
    position: absolute;
    right: 5;
    top: 15%;
    animation: move 400s linear infinite;
    width: 40%;
    z-index: -1;
  }

  .ship {
    position: absolute;
    animation-name: ship;
    left: -200;
    top: 8%;
    animation: ship 180s linear infinite;
    width: 35%;
    z-index: -2;
  }

  .ship-two {
    position: absolute;
    right: 5;
    top: 55%;
    animation: ship-two 120s linear infinite;
    width: 25%;
    z-index: -3;
  }

  .ship-three {
    position: absolute;
    right: 5;
    top: 35%;
    animation: ship-three 250s linear infinite;
    width: 40%;
    z-index: -1;

  }

  .ship-four {
    position: absolute;
    right: 5;
    top: 90%;
    animation: ship-four 100s linear infinite;
    width: 10%;
    z-index: -2;
  }

  @keyframes moveFirst {
    from {
      left: -380px;
    }
    to {
      left: 100%;
    }
  }

@keyframes move {
    from {
      right: -1500px;
    }
    to {
      right: 100%;
    }
  }

  @keyframes ship {
    from {
      left: -1000px;
    }
    to {
      left: 100%;
    }
  }

  @keyframes ship-two {
    from {
      right: -4400px;
    }
    to {
      right: 100%;
    }
  }

  @keyframes ship-three {
    from {
      right: -3500px;
    }
    to {
      right: 100%;
    }
  }

  @keyframes ship-four {
    from {
      left: -25000px;
    }
    to {
      left: 100%;
    }
  }

.logo{
    position: absolute;
    top: 10px;
    left: 0;
    width: 27vw;
}

.nav-url{
    object-fit: cover;
    border-radius: 50%;
    border: .5px solid black;
    height: 40px;
    width: 40px;
}
