.nav-container{
    display: flex;
    justify-content: space-around;
    background-color: ivory;
    border-bottom: 2px solid black;
}

.nav-url{
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid green;
    height: 40px;
    width: 40px;

}
